:root {
  --color-white: #fff;
  --color-black: #000;

  /* spacings */
  --spacing-xl: 64px;
  --spacing-l: 52px;
  --spacing-m: 48px;
  --spacing-s: 32px;
  --spacing-xs: 24px;
}

html,
body {
  margin: 0;
  font-family: "Lato", sans-serif;
  color: var(--color-white);
}

body {
  width: 100%;
  height: 100vh;

  background: url("../assets/main_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30% 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-size: 16px;
}

ul,
li,
p {
  margin: 0;
  padding: 0;
}

@media (max-width: 1024px) {
  * {
    font-size: 14px;
  }
}
